body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: #3046C5;
}

header h2 {
    color: goldenrod;
}

footer {
    background-image: linear-gradient(black, #3046C5, #60106B);
    padding: 20px 0;
}

.jumbotron {
    padding: 10px;
    background-image: linear-gradient(to right, black, #3046C5, #60106B);
    color: goldenrod;
}

.row-content {
    padding: 20px 0;
    border-bottom: 0px ridge;
    min-height: 165px;
    margin-left: 20px;

}
.row-content2 {
    padding: 20px 0;
    border-bottom: 0px ridge;
    min-height: 165px;
    margin-left: 20px;
    margin-right: 1200px;
}

.background {
    color: goldenrod;
}